html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

/* navbar */

#navbar {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 5px;
    
    padding: 0;
    margin: 0;
    overflow: hidden;

    background-color: black;
    border-width: 3px;
    border-style: solid;
}

#navbar > a:any-link {
    display: inline-block;
    text-decoration: none;
    color: yellow;

    background-color: black;
    border-color: black;
    padding: 10px;
    margin: 0px;
}

@keyframes navbarHovered {
    0%  { transform: translateY(0px); }
    100%{ transform: translateY(-6px); }
}

#navbar > a:any-link:hover {
    color: black;
    background-color: white;

    animation-name: navbarHovered;
    animation-duration: 0.05s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/* overall website settings */

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

aside {
    width: 20%;
}

main {
    width: 80%;

} 

/* header overall */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    margin-bottom: 0;
}

/* main overall */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background-color: rosybrown;
    width: 80%;
    padding: 5px;
    margin: 5px;

    border-width: 10px;
    border-style: solid;
    border-color: black;

    align-items: center;
}

h2 {
    width: 100%;
    
    color: yellow;
    background-color: red;
    margin: 0;
    padding: 5;
    text-align: center;
}

section div.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* About part */
#about figcaption {
    text-align: center;
    background-color:bisque;
    color: black;
    padding: 4px;
}

#about p {
    width: 75%;
    height:max-content;
    
    background-color:bisque;
    color: black;

    padding: 4px;
}

/* Project part */

article.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

article.project > a:any-link {
    display: block;
    margin: 10px;
    text-decoration: none;

    width: 75%;
    height:max-content;
    
    background-color:bisque;
    color: black;

    display: flex;
    flex-direction: column;
}

@keyframes projectHovered {
    0%  { transform: translate(0, 0); box-shadow: 0 0; }
    100%{ transform: translate(10px, 10px); box-shadow: -10px -10px; }
}

article.project > a:any-link:hover {
    text-decoration: none;

    background-color: aquamarine;
    color: black;

    animation-name: projectHovered;
    animation-duration: 0.05s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

article.project > a > * {
    margin: 5px;
}

/* contact */
#contact label {
    display: block;
}

#contact input, #contact textarea {
    width: 80%;
}

/* aside */

aside {
    color: black;
    background-color: rosybrown;

    margin: 5px;
    padding: 5px;

    border-color: black;
    border-style: solid;
    border-width: 10px;
}

/* footer */

footer {
    position: fixed;
    bottom: 0;
    background-color: rosybrown;
    color: black;

    width: 100%;
    height: auto;
    padding: 5px;

    border-top: 5px solid black;
}

footer a:link {
    color: brown;
}

footer a:visited {
    color: red;
}